/* styles.css */
body {
    background-color: red; /* Définit le fond de la page en rouge */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
}