/* styles.css */
.image-background-black {
    background-color: black; /* Couleur de fond */
    display: inline-block; /* Nécessaire si l'image est un élément inline */
    padding: 10px; /* Optionnel : pour créer un espace entre l'image et le fond */
}
